<div>
    <form method="post">
        <label name="id">@ViewBag.a"</label>
        <input name="nome" />
        <button type="submit">Criar</button>
    </form>
</div>
<div>
    <a href="~/produto/index">Voltar</a>
</div>