<div>
  <form method="post">
        <label name="id">@ViewBag.a"</label>
    <input name="nome" value="@ViewBag.b" />
        <button type="submit">Editar</button>
</form>
</div>
<div>
    <a href="~/produto/index">Voltar</a>
</div>
